body{
    display: flex;
    background-color: #ffff;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

div{
width: 400px;
height: 100px;
align-content: center;
justify-content: center;
align-items: center;
}
h1{
font-size: 100px;
font-weight: bold;
font-family: monospace;
}
input{
    width: 500px;
    padding: 20px 40px;
    border-radius: 100px;
    margin-top: 5px;
    height: 5px;
    margin-right: 100px;

}
.B{
    color: rgb(121, 167, 219);
}
.Y{
  color: rgb(221, 221, 9);  
}
.G{
    color: rgb(88, 153, 88);
}
.R{
    color: rgb(231, 68, 68);
}